.bgpic {
    background-image: url(./pictures/background.jpg);
    /* background-image: url(./pictures/background_2.jfif); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}